/* main */
.home {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255);
  }
  .image2 {
    grid-area: it2;
  }
  .image1 {
    grid-area: it1;
  }
  .sidebar {
    grid-area: sd;
  }

  .wrapper {
    border-radius: 5px;
    background-color: #fff4e6;
    max-width: 100%;
    margin: 0 auto;
  }

  .wrapper > div {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 1em;
    color: #d9480f;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(120px, auto);
    grid-template-areas:
      "sd sd sd sd sd sd it1 it1 it1"
      "sd sd sd sd sd sd it2 it2 it2";
    width: 100vw;
  }
  // &__container {
  //   position: relative;
  //   text-align: center;
  //   color: white;
  // }

  .slider {
    height: 380px;
    width: 100%;
    display: block;
    padding: 0 10px;
  }
  .sidebar-image {
    height: 170px;
    display: block;
    padding: 0 10px;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 18px;
  }
  .main-row {
    // background-color: #f4f4f4;
    max-width: 100%;
    height: auto;
    margin-top: 12px;
  }
  .main-row .text {
    margin: 10px 30px;
    text-align: justify;
    font-size: 14px;
    color: #95a2a7;
  }
  .main-row .title {
    padding-top: 10px;
    font-size: 22px;
    margin: 8px 30px;
    color: #95a2a7;
  }
  .img-icon {
    margin-left: 12px;
    font-size: 24px;
    color: #990d23;
  }

  h1 {
    font-size: 20px;
  }

  .content {
    display: block;
    color: #a98f53;
    font-size: 4px;
    background-color: #05172c;
    text-align: center;
    padding: 4px;
  }

  .content .text {
    font-size: 14px;
    color: white;
  }
  .product-main {
    padding-top: 18px;
  }
  .header-title {
    background-color: white;
    padding: 0 auto;
  }

  h3 {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: #a98f53;
    position: relative;
  }

  // h3::after {
  //   position: absolute;
  //   top: 50%;
  //   z-index: -1;
  //   content: "";
  //   width: 100%;
  //   display: block;
  //   border-top: 2px dashed #d2c19c;
  // }

  section h3 {
    // padding: 32px 0;
  }

  .product {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, auto);
    font-size: 16px;
    color: #990d23;
    background-color: #f4f4f4;
  }

  .product-item {
    margin: 12px;
    position: relative;
  }

  .product-item button {
    border: #777;
    border-radius: 6px;
    color: #990d23;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #f4f4f4;
  }

  .product-item button:hover {
    background-color: #f4f4f4;
  }

  .menu {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, auto);
    font-size: 18px;
    color: #990d23;
    background-color: #f4f4f4;
  }

  .item {
    margin: 12px;
    position: relative;

    p {
      text-transform: capitalize;
      text-align: center;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #b4985d;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #b4985d;
  }
}
